{
  "plugins": [
    [
      "@virtualpatterns/nessa/distributables/library/transpiler",
      {
        "logPath": "./process/logs/nessa-sample-babel.log",
        "test": "\\.pug$"
      }
    ]
  ],
  "presets": [ "env" ]
}
