{
  "plugins": [
    "add-module-exports",
    [
      "nessa/library/transpiler",
      {
        "isDebugged": true,
        "require": {
          "utilities": "./library/utilities"
        }
      }
    ]
  ],
  "presets": [
    "es2015"
  ]
}
